In [6]:
import numpy as np
import pandas as pd

In [7]:
data_1 = pd.read_csv('/Users/paulwen/OneDrive - The University of Texas at Austin/2022 Spring 2022/PSY 341K/PSY341K-FDS1/Exercise-008/008ExerciseFile.csv') # you can name your array whatever you want!

In [8]:
display(data_1)

     rel_time     m_level
0  -10.000000  166.846602
1   -9.797980  243.656949
2   -9.595960  354.591642
3   -9.393939  209.023218
4   -9.191919  283.431508
..        ...         ...
95   9.191919  255.174991
96   9.393939  152.987761
97   9.595960  142.685158
98   9.797980  189.684193
99  10.000000  314.140057

[100 rows x 2 columns]